mixin about(modifier)
  section.about&attributes(attributes)
    .about__area
      p.about__text — Благодаря музыкальному образованию, я стала трудолюбивой, целеустремленной и&nbsp;стрессоустойчивой<br>— Опыт работы в сфере общественного питания помог развить многозадачность, коммуникативные навыки и выносливость<br>— Собственный бизнес научил меня брать ответственность за решения и их последствия<br>— Работа в сфере HR дала возможность развить аналитические способности и эмпатию<br><br>Я убеждена, что нет задачи, с которой невозможно справиться. Есть только недостаточная мотивация.
      img.about__my-photo(src="img/myphoto.png" alt="Моя фотография")
