include ../blocks/header/header.pug 
include ../blocks/about/about.pug
include ../blocks/info/info.pug
include ../blocks/footer/footer.pug
include ../blocks/job/job.pug
include ../blocks/education/education.pug
include ../blocks/skills/skills.pug
