mixin info()
  .info&attributes(attributes)
    main.info__experience
      .info__job
        h2.info__title Опыт работы
        ul.info__job-list
          li.info__job-item
            .info__profession
              h3.info__job-title HR-менеджер
              p.info__period 2022 - по настоящее время
            .info__company 
              h3.info__company-title Компания “Водяной”
              ul.info__duties-list
                li.info__duties-item — Мониторинг рынка труда;
                li.info__duties-item — Поиск и подбор персонала по всей России;
                li.info__duties-item — Адаптация, обучение и аттестация персонала;
                li.info__duties-item — Организация корпоративных мероприятий и тренингов;
                li.info__duties-item — Разработка и корректировка бизнес-процессов.
          li.info__job-item
            .info__profession
              h3.info__job-title Учредитель
              p.info__period 2020 - по настоящее время
            .info__company 
              h3.info__company-title Кофейня “Сансара”
              ul.info__duties-list
                li.info__duties-item Открытие собственной кофейни “с нуля”:
                li.info__duties-item — Разработка концепции, бизнес-процессов, меню;
                li.info__duties-item — Ведение бухгалтерского учета;
                li.info__duties-item — Управление персоналом (+ поиск, обучение);
                li.info__duties-item — Организация и контроль работы заведения.
          li.info__job-item
            .info__profession
              h3.info__job-title Шеф-бариста Бухгалтер
              p.info__period 2020
            .info__company 
              h3.info__company-title Кофейня “Ёлка”
              ul.info__duties-list
                li.info__duties-item Участие в открытие кофейни:
                li.info__duties-item — Разработка бизнес-процессов бара, меню;
                li.info__duties-item — Составление технологических карт;
                li.info__duties-item — Поиск и подбор персонала;
                li.info__duties-item — Обучение сотрудников;
                li.info__duties-item — Непосредственная работа с гостями;
                li.info__duties-item — Ведение первичной бухгалтерии.
      .info__my-works
        h2.info__title Работы
        .info__works-list
          a.info__work-link(href="https://tanyashtatnykh.github.io/pet-project-coffee/build/index.html") Сайт кофе (pet-project) 
          a.info__work-link(href="#") Визитка (pet-project) 
          a.info__work-link(href="https://tanyashtatnykh.github.io/mq-diploma/") Блог (pet-project)
    aside.info__knowledge
      .info__skills
        h2.info__title Навыки
        ul.info__skills-list
          li.info__skills-item
            img.info__skill-icon(src="img/html.png" alt="HTML")
            .info__skill-info
              h3.info__skill-title HTML
              .info__skill-scale
                .info__scale-level.info__scale-level--html
          li.info__skills-item
            img.info__skill-icon(src="img/css.png" alt="CSS")
            .info__skill-info
              h3.info__skill-title CSS / SCSS
              .info__skill-scale 
                .info__scale-level.info__scale-level--css
          li.info__skills-item
            img.info__skill-icon(src="img/js.png" alt="Java Script")
            .info__skill-info
              h3.info__skill-title Java Script
              .info__skill-scale
                .info__scale-level.info__scale-level--js
          li.info__skills-item
            img.info__skill-icon(src="img/JQ.png" alt="JQuery")
            .info__skill-info
              h3.info__skill-title JQuery
              .info__skill-scale
                .info__scale-level.info__scale-level--jq
          li.info__skills-item
            img.info__skill-icon(src="img/git.png" alt="GIT")
            .info__skill-info
              h3.info__skill-title GIT
              .info__skill-scale
                .info__scale-level.info__scale-level--git
          li.info__skills-item
            img.info__skill-icon(src="img/figma.png" alt="Figma")
            .info__skill-info
              h3.info__skill-title Figma
              .info__skill-scale
                .info__scale-level.info__scale-level--figma
      .info__education
        h2.info__title Образование
        ul.info__education-list
          li.info__education-item 
            h3.info__institution-title “Гильдия Фронтов”
            p.info__institution-period 2023 - по настоящее время
            p.info__specialty HTML-верстальщик
          li.info__education-item 
            h3.info__institution-title “Нетология”
            p.info__institution-period 2022
            p.info__specialty Веб-разработчик
          li.info__education-item 
            h3.info__institution-title Новосибирский областной колледж культуры и искусств
            p.info__institution-period 2011 - 2015
            p.info__specialty Артист, преподаватель, концертмейстер