mixin info()
  .info&attributes(attributes)
    section.info__subsection
      .info__block
        h2.info__title Опыт работы
        .info__wrapper
          +job("HR-менеджер", 
              "2022 - по настоящее время", 
              "Компания “Водяной”",
              ["— Мониторинг рынка труда;",
              "— Поиск и подбор персонала по всей России;",
              "— Адаптация, обучение и аттестация персонала;",
              "— Организация корпоративных мероприятий и тренингов;",
              "— Разработка и корректировка бизнес-процессов."])
          +job("Учредитель",
              "2020 - по настоящее время",
              "Кофейня “Сансара”",
              ["Открытие собственной кофейни “с нуля”:",
              "— Разработка концепции, бизнес-процессов, меню;",
              "— Ведение бухгалтерского учета;",
              "— Управление персоналом (+ поиск, обучение);",
              "— Организация и контроль работы заведения."])
          +job("Шеф-бариста Бухгалтер",
              "2020",
              "Кофейня “Ёлка”",
              ["Участие в открытие кофейни:",
              "— Разработка бизнес-процессов бара, меню;",
              "— Составление технологических карт;",
              "— Поиск и подбор персонала;",
              "— Обучение сотрудников;",
              "— Непосредственная работа с гостями;",
              "— Ведение первичной бухгалтерии."])
      .info__block
        h2.info__title Работы
        .info__wrapper
          .info__container
            a.info__work-link(href="https://tanyashtatnykh.github.io/pet-project-coffee/build/index.html") Сайт кофе (pet-project)
            a.info__work-link(href="https://github.com/TanyaShtatnykh/pet-project-coffee") Сайт кофе (github)
            a.info__work-link(href="https://tanyashtatnykh.github.io/resume/build/index.html") Визитка (pet-project)
            a.info__work-link(href="https://github.com/TanyaShtatnykh/resume") Визитка (github)
            a.info__work-link(href="https://tanyashtatnykh.github.io/blog/") Блог (pet-project)
            a.info__work-link(href="https://github.com/TanyaShtatnykh/blog") Блог (github)
    aside.info__sidebar
      .info__block
        h2.info__title Навыки
        .info__wrapper
          +skills("img/html.png", "HTML", 60)
          +skills("img/css.png", "CSS / SCSS", 55)
          +skills("img/js.png", "Java Script", 20)
          +skills("img/jQ.png", "JQuery", 15)
          +skills("img/git.png", "GIT", 50)
          +skills("img/figma.png", "Figma", 35)
      .info__block
        h2.info__title Образование
        .info__wrapper
          +education("“Гильдия Фронтов”","2023 - по настоящее время","HTML-верстальщик")
          +education("“Нетология”","2022","Веб-разработчик")
          +education("Новосибирский областной колледж культуры и искусств","2011 - 2015","Артист, преподаватель, концертмейстер")
          //-рабочая обл.