mixin skills(icon, title, level)
  .skills&attributes(attributes)
    img.skills__icon(src=icon, alt="")
    .skills__info
      h3.skills__title=title
      .skills__scale
        .skills__level(style=`width: ${level}%`)

            
//- .wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, green 50%, red 50%);